
body {
	background-color: #255dff;
}

#form-div
{
	max-width: 710px;
	height: auto;
	margin: 0 auto;
}

#form
{
	width: 100%;
	position: relative;
}

#textarea
{
	width: 99%;
	height: 150px;
	resize: vertical;
	font-size: 16px;
	box-shadow: 2px 2px 5px;
	border: 2px solid transparent;
	
}

#textarea:focus {
	border: 2px solid #0029a0;
}

#submit
{
	width: 110px;
	height: 50px;
	position: absolute;
	right: 0;
	bottom: -60px;
	box-shadow: 1px 1px 3px;
}

#submit:active{
	box-shadow: 2px 2px 3px;
}

#task-list
{
	max-width: 710px;
	height: auto;
	margin: 100px auto;
}

.new-task
{
	max-width: 710px;
	height: auto;
	margin: 10px 0;
	box-shadow: 2px 2px 5px;
	background-color: white;
}
	
.task-header
{	
	display: flex;
	justify-content: space-between;
}

.task-header h3
{
	padding: 0 10px;
}

.x-button
{
	width: 20px;
	height: 20px;
	padding: 1px 1.1px;
}

.task {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
	max-height: 200px;
	overflow: auto;
	position: relative;
}

.task-text {
	max-width: 500px;
	padding-bottom: 20px;
}

[contenteditable="true"]:focus {
	outline: none;
}

.edit-button {
	width: 70px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	right: 10px;
	box-shadow: 1px 1px 3px;
}

.edit-button:active {
	box-shadow: 2px 2px 5px;
}

.end-editing-button {
	width: 70px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	right: 90px;
	box-shadow: 1px 1px 3px;
}

.end-editing-button:active {
	box-shadow: 2px 2px 5px;
}

#search
{
	display: flex;
	justify-content: space-between;
	position: relative;
}
	
#serach2
{
	width: 60%;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 120px;
	box-shadow: 2px 2px 5px;
	border: 2px solid transparent;
}

#serach2:focus {
	border: 2px solid #0029a0;
}

#search_button
{
	width: 110px;
	height: 50px;
	align-self: flex-end;
	box-shadow: 1px 1px 3px;
}

#search_button:active
{
	box-shadow: 2px 2px 3px;
}

.hidden
{
	display: none;
}

@media screen and (max-width: 600px) {
	
	
	#search div h3 {
		position: absolute;
		top: -60px;
		left: 0;
	}
	
	#serach2 {
		left: 0;
	}
	
	.task-text {
		display: block;
	}
	
	.edit-button {
		position: relative;
		display: inline-block;
		left: 200px;
	}
	
	.end-editing-button {
		position: relative;
		display: inline-block;
		left: 50px;
	}
	

}